body, html, p {
	font-family: 'Nunito',Helvetica,Arial,Lucida,sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Oswald',Helvetica,Arial,Lucida,sans-serif;
}

p {
	font-size: 1rem
}

/* Contenedor de todos los post */
.alm-listing {
	display: grid;
	grid-gap: 50px;
	justify-content: center;
	grid-template-columns: minMax(280px, 400px);
}

/* boton cargar más (cuando no hay más post) */
.alm-btn-wrap .alm-load-more-btn.done {
	display: none;
}

@media only screen and (min-width: 767px) {
	.alm-listing {
		grid-template-columns: repeat(2, 1fr);
	}

}

@media only screen and (min-width: 1024px) {
	.alm-listing {
		grid-template-columns: repeat(3, 1fr);
	}

}